@page "/connect"
@using PrintApp.Logic
@using WebApp.Core
@using System.Threading
@inject PrintersManager PrintersManager
@inject NavigationManager NavigationManager

<h3>Please enter your printer's USB port and baudrate.</h3>

<EditForm Model="@_connectionSettings" OnValidSubmit="HandleValidSubmit">
    <p>
        <h6> Printer Name </h6>
        <InputText id="name" @bind-Value="_connectionSettings.PrinterName"/>
    </p>

    <p>
        <h6> USB Port </h6>
        <InputText id="usb" @bind-Value="_connectionSettings.UsbPort" />
    </p>

    <p>
        <h6> Baudrate </h6>
        <InputNumber id="baud" @bind-Value="_connectionSettings.Baudrate" />
    </p>
    
    <p>
        <h6> Connection Type (Advanced) </h6>
        <InputSelect @bind-Value="_connectionSettings.ConnectionType">
            @foreach (var value in Enum.GetValues(typeof(ConnectionTypes)))
            {
                <option>@value</option>
            }
        </InputSelect>
    </p>

    <input type="submit" disabled="@_disableSubmit" />
</EditForm>

<label style="color:red">@error</label>


@code {
    [Parameter]
    public EventCallback<string> RenderNavbar { get; set; }

    private bool _disableSubmit { get; set; } = false;

    private PrinterConnectionSettings _connectionSettings = new PrinterConnectionSettings
    {
        PrinterName = "3d Printer Name",
        UsbPort = "COM1",
        Baudrate = 115200,
        ConnectionType = ConnectionTypes.Marlin
    };

    private string error;

    private void HandleValidSubmit()
    {
        _disableSubmit = true;
        if (!PrintersManager.TryAddPrinter(_connectionSettings))
        {
            error = "Could not connect to 3d printer.";
            _disableSubmit = false;

        }
        else
        {
            _disableSubmit = false;
            Thread.Sleep(5000); // TODO: Find a cleaner solution.
            NavigationManager.NavigateTo("Control");
        }
    }
}
