@using PrintApp.Logic
@inject PrintersManager PrintersManager

<div class="start-print">
    <h2>Start Print</h2>
    <select class="queue-files" size="99999" @bind="@_selectedFile">
        @foreach (string fileName in PrintersManager.CurrentPrinter.State.GCodes.ToList())
        {
            <option>
                @fileName
            </option>
        }
    </select>

    <input type="submit" @onclick="@DispatchPrint" value="Start Print" />

    <label style="color:red">@_error</label>
</div>

@code  {
    private string _selectedFile;

    private string _error;

    protected override void OnInitialized()
    {
        PrintersManager.FileListReceived += UpdateList;
    }

    private void UpdateList(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    private void DispatchPrint()
    {
        if (string.IsNullOrWhiteSpace(_selectedFile))
        {
            _error = "No file selected!";
        }
        else
        {
            PrintersManager.CurrentPrinter.WriteCommand("M23" + _selectedFile);
            PrintersManager.CurrentPrinter.WriteCommand("M24");
            _error = string.Empty;
        }
    }
}
